<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <div>
            <h2>All Strains</h2>
            <ul id="strains" />
        </div>
        <div>
            <h2>Search by ID</h2>
            <input type="text" id="strainID" size="5" />
            <input type="button" value="Search" onclick="find();" />
            <p id="strain" />
        </div>
    </section>
</div>

@section scripts {
<script>
    var apiUrl = 'api/strains';

    $(document).ready(function () {
        // Send an AJAX request
        $.getJSON(apiUrl)
            .done(function (data) {
                // On success, 'data' contains a list of products.
                $.each(data, function (key, item) {
                    // Add a list item for the product.
                    $('<li>', { text: formatItem(item) }).appendTo($('#strains'));
                });
            });
    });

    function formatItem(strain) {
        return strain.ID + ': ' + strain.Name + ' ' + strain.PercentSativa + '% Sativa ' + strain.PercentIndica + '% Indica $' + strain.PricePerGram; // + ': $' + item.Price;
    }

    function find() {
        var id = $('#strainID').val();
        $.getJSON(apiUrl + '/' + id)
            .done(function (data) {
                $('#strain').text(formatItem(data));
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#strain').text('Error: ' + err);
            });
    }
</script>
}